* {
  box-sizing: border-box;
  margin: 0;
}

.recipe-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto auto; */
  gap: 1rem;
  width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Image */
.card-image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  object-fit: cover;
}

.card-description {
  grid-row: 1;
  grid-column: 2;
}

.card-directions {
  grid-row: 2;
  grid-column: span 2;
}
