* {
  box-sizing: border-box;
  margin: 0;
}

.recipe-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 23rem;
  background: hsl(35, 100%, 91%);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.15rem 0.15rem 0.5rem 0.5rem hsla(0, 0%, 0%, 0.65);
  color: #585858;
  font-family: "Kalam", cursive;
  outline: 0.15rem solid #e7e7e7;
}

/* Image */
.card-image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  object-fit: cover;
}

.card-description {
  grid-row: 1;
  grid-column: 2;
  background: hsl(34, 96%, 81%);
  font-size: 0.8rem;
  text-align: center;
}

.card-description h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.card-ingredients {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}
.card-ingredients ul {
  list-style-type: none;
  text-align: center;
  transform: translateX(-3ch);
}

.card-directions {
  grid-row: 2;
  grid-column: span 2;
  padding: 2rem;
  height: 16.5rem;
  font-size: 0.9rem;
}

.card-directions h4 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}
